body {
    margin: 0;
    padding: 0;
}

.hamburger {
    position: fixed;
    background-color: transparent;
    right: 20px;
    top: 0;
    height: 30px;
    width: 30px;
    padding: 20px 20px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
    transition: transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
    z-index: 1002;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    align-items: center;
}

.hamburger.is-active {
    background-color: none;
}

._layer {
    background: #fff;
    margin-bottom: 4px;
    border-radius: 2px;
    width: 28px;
    height: 4px;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
    transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
}

.hamburger:hover .-top {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
}

.hamburger:hover .-bottom {
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
}

.hamburger.is-active .-top {
    -webkit-transform: translateY(200%) rotate(45deg) !important;
    -ms-transform: translateY(200%) rotate(45deg) !important;
    transform: translateY(200%) rotate(45deg) !important;
}

.hamburger.is-active .-mid {
    opacity: 0;
}

.hamburger.is-active .-bottom {
    -webkit-transform: translateY(-200%) rotate(135deg) !important;
    -ms-transform: translateY(-200%) rotate(135deg) !important;
    transform: translateY(-200%) rotate(135deg) !important;
}

.menuppal.is_active {
    transform: translate3d(0px, 0px, 0px);
}

.menuppal {
    background-color: #1D2B39;
    bottom: 0;
    height: 100%;
    left: 0;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    transform: translate3d(0px, -100%, 0px);
    transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
    width: 100%;
    z-index: 1001;
}

.menuppal ul {
    margin: 0;
    padding: 0;
}

.menuppal ul li {
    list-style: none;
    text-align: center;
    font-family: Verdadna, Arial, Helvetica;
    color: red;
    font-size: 1.5rem;
    line-height: 3em;
    height: 3em;
    color: #369;
    text-transform: none;
    font-weight: bold;
}

.menuppal ul li a {
    text-decoration: none;
    color: #fff;
}

.menuppal ul li a:hover {
    text-decoration: none;
    color: #333;
}

.bajar {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 91%;
}

.contactenos-buton {
    padding: 14px;
    border-radius: 3px;
}

.hamburguesa {
    width: 100%;
    height: 60px;
    background: #1D2B39;
    display: flex;
    align-items: center;
    padding: 20px;
}

.conteiner-menu {
    background-color: #1D2B39;
    display: none;
}

.imagen-lagobo {
    width: 200px;
}

.conteiner-menu-item {
    display: none;
}

.items-menu {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    width: 100%;
    align-items: center;
}

.item-icon-botoon {
    background-color: #1D2B39;
    border: none;
}

@media (min-width: 544px) {
    .imagen-lagobo {
        width: 250px;
    }
}

@media (min-width: 600px) {
    .hamburguesa {
        display: flex;
    }
    .conteiner-menu {
        display: none;
    }
}

@media (min-width: 800px) {
    .items-menu {
        padding: 20px 40px;
    }
    .lista-menu {
        display: flex;
        align-items: center;
    }
    .lista-menu1 {
        margin-right: 20px;
        list-style: none;
    }
}

@media (min-width: 1024px) {
    .conteiner-menu {
        display: flex;
        padding: 20px;
    }
    .container-icon-button {
        display: none;
    }
    .container-icon-button {
        display: none;
    }
    .conteiner-menu-item {
        display: flex;
    }
    .lista-menu {
        display: flex;
        align-items: center;
    }
    .lista-menu1 {
        margin-right: 20px;
        list-style: none;
    }
    .ancla-menu {
        color: #F1F3F9;
        text-decoration: none;
        font-weight: bold;
        padding: 10px 20px;
        border-radius: 6px;
        transition: .5s all;
    }
    .ancla-menu1 {
        color: #000;
        text-decoration: none;
        background-color: #fff;
        font-weight: bold;
        padding: 10px 20px;
        border-radius: 6px;
        transition: .5s all;
    }
    .ancla-menu:hover {
        background-color: #ffc107;
        text-decoration: none;
        color: #fff;
    }
    .ancla-menu1:hover {
        background-color: #ffc107;
        text-decoration: none;
        color: #fff;
    }
    .conteiner-menu {
        display: flex;
    }
    .hamburguesa {
        display: none;
    }
}