#mas {
    color: #fff;
}

#menos {
    color: #fff;
}

.oferton {
    display: flex;
    justify-content: center;
}

.acepto {
    color: #fff;
}

.checkbox1 {
    margin-top: 6px;
    margin-left: 10px;
    margin-right: 6px;
    font-family: Poppins-Medium;
}

#boton {
    background-color: #fff;
    color: #000;
    border: 1px solid #fff!important;
    padding: 10px 30px;
    border-radius: 33px;
    margin-bottom: 10px;
    transition: .5s all;
    font-family: Poppins-Medium;
}

#boton:hover {
    background-color: #ffc107;
    border: 1px solid #ffc107!important;
    color: #fff;
}

.acepto:hover {
    color: #fff;
    text-decoration: none;
}

#mas:hover {
    text-decoration: none;
}

#menos:hover {
    text-decoration: none;
}

.contenedor_ofertas img {
    width: 60%;
    font-size: 25%;
}

.contenedor_ofertas {
    /* background: #1D2B39; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    background-image: url(../img/banner1_movil.jpg);
    /* para adaptarse al cotnenedor */
    background-size: cover;
    height: 90vh;
    background-position: 23%r;
}

.contenedor_ofertas .contenerdor_texto_ofertas {
    width: 90%;
    margin: 0 auto;
    font-size: 72%;
    color: #fff;
}

.fondo-formulario4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 95%;
    margin: 0 auto;
    text-align: center;
    padding: 50px;
    background-color: #1D2B39;
    color: #fff;
    border-radius: 7px;
}

.fondo-formulario4 .fondo-formulario3 .fuente1 {
    font-size: 15px;
    padding-bottom: 10px;
}

.fondo-formulario4 .fondo-formulario3 .fuente {
    font-size: 30px;
    padding-bottom: 10px;
    font-weight: 700;
}

.formulario .escribe-formulario1 {
    border: 1px solid #3F566C;
    margin-bottom: 15px;
    border-radius: 3px;
    padding: 5px;
    width: 100%;
    height: 45px;
}


/*responsive*/

@media(min-width:768px) {
    .formulario .escribe-formulario1 {
        width: 75%;
    }
    .fondo-formulario4 {
        height: 500px;
    }
    .fondo-formulario4 .fondo-formulario3 {
        margin-bottom: 10%;
    }
    .formulario .escribe-formulario1 {
        width: 100%;
        height: 30%;
    }
    .contenedor_ofertas img {
        margin-top: 245px;
        margin-bottom: 10px;
        width: 50%;
        font-size: 25%;
    }
    .contenedor_ofertas {
        /* background: #1D2B39; */
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-image: url(../img/banner1_movil.jpg);
        /* para adaptarse al cotnenedor */
        background-size: cover;
        height: 90vh;
        background-position: 23%r;
    }
    .checkbox1 {
        margin-top: 6px;
        margin-left: 1px;
        margin-right: 6px;
        font-family: Poppins-Medium;
    }
}

@media(min-width:1024px) {
    .contenedor_ofertas img {
        margin-bottom: 10px;
        width: 25%;
        font-size: 25%;
    }
    .oferton {
        display: block;
    }
    .contenedor_ofertas {
        /* background: #1D2B39; */
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-image: url(../img/banner1_movil.jpg);
        /* para adaptarse al cotnenedor */
        background-size: cover;
        height: 90vh;
        background-position: 23%r;
        align-items: flex-start;
    }
    .fondo-formulario4 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        max-width: 500px;
        margin: 0 auto;
        text-align: center;
        padding: 50px;
        background-color: #1D2B39;
        color: #fff;
        border-radius: 7px;
        position: absolute;
        bottom: 70px;
        right: 20px;
    }
    .texto_ofertas {
        width: 40%;
        font-size: 14px;
        font-weight: bold;
    }
    .oferton {
        max-height: 800px;
    }
}

@media(min-width:1400px) {
    .oferton {
        max-height: 937px;
    }
}